<form #myForm="ngForm">
    <div class="form-group row">
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="name">Name
            <span>*</span>
        </label>
        <div class="col-md-10">
            <input required name="name" type="text" class="form-control" id="name" placeholder="Project Name" [(ngModel)]="data.name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="title">Title
            <span>*</span>
        </label>
        <div class="col-md-10">
            <input required name="title" type="text" class="form-control" id="title" placeholder="Project Title" [(ngModel)]="data.title">
        </div>
    </div>
   <div class="form-group row">
        <label class="col-md-2 font-weight-bold col-form-label" for="group" required>Group
            <span>*</span>
        </label>
        <div class="col-md-10">
            <select required name="group" id="group" class="form-control" placeholder="Project Group" [(ngModel)]="selectedValue">
                <option value="" disabled selected>Please Choose...</option>
                <option *ngFor="let group of groups" [value]="group.id">{{group.title}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="projectTitle">Short Overview
            <span>*</span>
        </label>
        <div class="col-md-10">
            <input required name="overview" type="text" class="form-control" id="overview" placeholder="Project Title" [(ngModel)]="data.shortOverview">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold col-form-label" for="abstract">Abstract
            <span>*</span>
        </label>
        <div class="col-md-10">
            <quill-editor [required]="true" id="abstract" name="abstract" placeholder="Abstract" [(ngModel)]="data.overview" [modules]="quillToolbar"></quill-editor>
        </div>
    </div>
    <!-- <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="projectKeywords">Keywords
            <span>*</span>
        </label>
        <div class="col-md-10">
            <textarea required name="keywords" class="form-control" id="projectKeywords" rows="3" placeholder="Project Keyword" [(ngModel)]="data.keywords"></textarea>
        </div>
    </div> -->
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="teamMembers">Team Members
            <span>*</span>
        </label>
        <div class="col-md-10">
            <tags-input placeholder="Add Team Member" [provider]="usersService" method="search" key="DisplayText" identifyBy="DisplayText"
                name="teamMembers" [typeaheadOnly]="false" [(emitModel)]="data.teamMembers"></tags-input>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" >Upload Project Images
            <span>*</span>
        </label>
        <div class="col-md-10">
            <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                <p>
                    Drag a file here or
                    <label class="upload-button">
                        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                        browse
                    </label>
                    to upload.
                </p>
            </div>
            <div class="column is-8 is-offset-2">
                <div class="upload-items">
                    <div class="upload-item" *ngFor="let f of files; let i = index;"><span class="filename">
                        <span>{{ f.name }}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <i [hidden]="!isProcessing" class="fa fa-spinner load-animate"></i>
    <div [hidden]="isProcessing" class="form-row">
        <button class="btn btn-primary" *ngIf="!isEditMode" [disabled]="myForm.invalid" (click)="submit()">Add Project</button>&nbsp;&nbsp;
        <button class="btn btn-primary" *ngIf="isEditMode" [disabled]="myForm.invalid" (click)="update()">Update Project</button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="goBack()">Cancel </button>&nbsp;&nbsp;
        <h6 *ngIf="error" class="text-danger">{{error}}</h6>
    </div>
    <hr>
</form>