<table class="container-fluid">   
  <tr class="timeLineRow">
    <td>{{earliestYear}}</td>
    <td>|</td>
    <td>{{((latestYear - earliestYear) / 2) + earliestYear}}</td>
    <td>|</td>
    <td>{{latestYear}}</td>
  </tr>
</table>
<table class="container-fluid timeLine">
  <tr id="myRow">
    <td *ngFor="let i of testConfig; index as num" [ngStyle]="{'background-color': i.color, 'width': i.percentage+'%'}"  ngClass="myClass" class="aBlock">{{drawCell(i,num)}} {{i.name}}</td>
  </tr>
</table>
<br>
<h4 class="kickOffText">Kick Off Date: <span class="dateText">{{date | date}}</span></h4>