<ul class="list-group mb-3">
    <ng-container *ngFor="let item of ref.groups; let itemIndex = index">
        <a class="list-group-item" [class.active]='itemIndex === getSelected()' (click)="select(itemIndex)">
          <i ngClass= "fa fa-check-circle-o fa-2x" [ngStyle] ="{'color':item.isValid  ? 'green': 'gray'}"></i>
          {{item.label}}
        </a>
    </ng-container>
</ul>

<div class="card">
    <div class="card-body">
        <div class="col-lg-12" ng-hide="!tab">
            <button type="button" class="btn btn-primary ml-1" [disabled]="disablePrev()" (click)="prev()" title="Previous">Previous</button>
            <button type="button" class="btn btn-primary ml-1" [disabled]="disableNext()" (click)="next()" title="Next">Next</button>
        </div>
    </div>
</div>
