<h1 *ngIf="isEditMode">Edit Task </h1>
<h1 *ngIf="!isEditMode">Add Task </h1>
<hr>
<div  class="task-form">
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="title">Title
            <span>*</span>
        </label>
        <div class="col-md-10">
            <input required name="title" type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="data.title">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="assignee">Assignee
            <span>*</span>
        </label>
        <div class="col-md-10">
            <tags-input placeholder="Assignee" [provider]="usersService" method="getAll" key="name" identifyBy="id" name="teamMembers" [typeaheadOnly]="false" [maxItems]="1" [(emitModel)]="data.assignee" id="assignee"></tags-input>
        </div>
    </div>
    <div *ngIf="isEditMode" class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="status">Status
        </label>
        <div class="col-md-10 btn-group" id="status">
            <button class="btn btn-primary" [ngClass]="{'green': data.status=='To Do'}" (click)="setStatus('To Do')">To Do</button>&nbsp;&nbsp;
            <button class="btn btn-primary" [ngClass]="{'green': data.status=='In Progress'}" (click)="setStatus('In Progress')">In Progress</button>&nbsp;&nbsp;
            <button class="btn btn-primary" [ngClass]="{'green': data.status=='Done'}" (click)="setStatus('Done')">Done</button>&nbsp;
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 font-weight-bold  col-form-label" for="description">Description
        </label>
        <div class="col-md-10">
            <textarea name="description" rows="4" class="form-control" id="description" placeholder="Description" [(ngModel)]="data.description"></textarea>
        </div>
    </div>
    <div *ngIf="isEditMode" class="form-row">
        <button class="btn btn-primary"  (click)="save(data)">Save</button>&nbsp;&nbsp;
        <button class="btn btn-primary"  (click)="cancel(data)">Cancel</button>&nbsp;&nbsp;
        <button class="btn btn-primary"  (click)="delete(data)">Delete</button>&nbsp;&nbsp;
    </div>
    <div *ngIf="!isEditMode" class="form-row">
        <button class="btn btn-primary"  (click)="create(data)">Save</button>&nbsp;&nbsp;
        <button class="btn btn-primary"  (click)="cancel(data)">Cancel</button>&nbsp;&nbsp;
    </div>

</div>