.heading-border {
    border-right: 1px solid white;
}

.sorting-icon {
    color: rgb(128, 128, 128);
    padding-left: 10px;
}

.gray-bg {
    background-color: rgb(230, 230, 230);
}

.project-list .table th {
    padding: 1rem;
}

.project-list .table td {
    padding: 1rem;
}

.project-list .table tr.active td {
    background-color: rgb(192, 204, 211);
    border-right: 1px solid white;
}