<div class="form-group row pt-3">
    <!-- <div class="col-sm-2">
        <a (click)="expanded = false;" class="link">
            <i class="fa fa-list fa-2x text-secondary" [class.text-success]="!expanded" aria-hidden="true"></i>
        </a>
        <a (click)="expanded = true;" class="link">
            <i class="fa fa-th-list fa-2x text-secondary" [class.text-success]="expanded" aria-hidden="true"></i>
        </a>
    </div> -->
    <div class="col-sm-8">
        <input type="text" [(ngModel)]="fltr" class="form-control" name="fltr" id="filter" placeholder="Filter">
    </div>
    <div class="col-sm-4">
        <a uiSref="add-project" title="Add New Project">
            <i class="fa fa-plus fa-2x" title="Add New Project"></i>Add Project
        </a>
    </div>
</div>

<table class="table table-hover" *ngIf="!expanded">
    <thead class="thead-light">
        <th (click)="sortByName()" width="20%">
            TITLE
            <span class="sorting-icon">
                <i [ngClass]="sortNameStatus ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i>
            </span>
        </th>
        <th (click)="sortByTitle()">
            DESCRIPTION
            <span class="sorting-icon">
                <i [ngClass]="sortTitleStatus ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i>
            </span>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of projects | filter:fltr" class="link" uiSrefActive="table-active" uiSref="{{linkToState}}" [uiParams]="{ projectId: item.id }">
            <td>
                <strong>{{item.title}}</strong>
            </td>
            <td>
                {{item.activityName}}
            </td>
        </tr>
    </tbody>
</table>

<!-- <div class="row" *ngIf="expanded">
    <div class="col-md-12">
        <div class="card" *ngFor="let item of projects | filter:fltr" uiSref="{{linkToState}}" uiSrefActive="bg-light" [uiParams]="{ projectId: item.id }">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="https://preview.ibb.co/hSbnxm/dna.png" class="img-fluid" alt="dna" border="0">
                    </div>
                    <div class="col-sm-9">
                        <h5 class="card-title">{{item.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.shortOverview}}</h6>
                        <p class="card-text">
                            <span class="font-weight-bold text-success">{{item.division}}</span>
                            <span class="btn btn-danger" role="button" aria-disabled="true">Adenine</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->