<div class="progress" style="margin: 20px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
       aria-valuemin="0" aria-valuemax="100" style="height: 50px;" [ngStyle]="{'width': wrong +'%'}">
    <span id="percentageCompleted"></span>
  </div>
  <div *ngFor="let i of testConfig">
    <div class="bar-step" [ngStyle]="{'left': i.percentage +'%'}">
      <div class="label-txt">{{i.label}}</div>
      <div class="label-percent">{{i.percentage}}</div>
      <!-- <div class="label-line"></div> -->
    </div>
  </div>
</div>
<div class="stageGroup">
  <div align="center" class="stage">Stage: {{stage}}</div>
  <div align="center" class="step">Step: {{step}}</div>
</div>